<%= form_for @changeset, topic_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <%= text_input f, :title, placeholder: "Title", class: "form-control" %>
    <%= error_tag f, :title %>
  </div>
  <%= submit "Save Topic", class: "btn btn-primary" %>
<% end %>
<%= link to: topic_path(@conn, :index) do %>
  <button class="waves-effect waves-light btn red darken-1 right">Cancel</button>
<% end %>
